<div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            change password for
            {{ user  }}
            <form action="{% url 'change_password' %}" method = "post">
                <!--div class="form-group">
                    <label for="oldPassword"> Old Password:</label>
                    <input type ="text" maxlength="20" class="form-control" name="oldpassword"placeholder="Old Password">
                </div>
                <div class="form-group">

                    <label for="newPassword"> New Password:</label>
                    <input type ="text" maxlength="20" class="form-control" name="newpassword"placeholder="New Password ">
                </div-->
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="submit" type="submit">
                    Submit</button>
                </div>

            </form>
        </div>
    </div>