<title>Password Reset</title>
{% autoescape off  %}
    <div class="jumbotron">
        <h1>Password Reset</h1>
        <p>
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
                <button class ="btn btn-danger" type="submit" name ="button">Reset My Password</button>


        </form>

    </div>
{% endautoescape %}
