
<head>
    <title>Password Reset</title>
    <style>
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
        margin: auto;
        margin-top:200px ;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
</style>
</head>
<body>
{% autoescape off  %}
    <div class="card" style="background-color: white">
    <div class="container">
        <div class="row">
        <div class="col-xm-12">
        <h1 style="text-align: center">Password Reset</h1>
            </div></div>
    <div class="row">
        <div class="col-xm-12">
        <p style="text-align: center">
            Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.
        </p>
            </div>
        </div>
    <div class="row">
    <div class="col-xm-12">
        <form method="post" style="text-align: center">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
                <button class ="btn btn-danger" type="submit" name ="button">Reset My Password</button>

        </form>
    </div>
    </div>
    </div>
    </div>
    </body>
{% endautoescape %}
