<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h1>Edit Profile (teacher)</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="faculty_edit" method="post">
{#            <div class="form-group">#}
{#                <label for="Fname"> First Name:</label>#}
{#                <input type="text" maxlength="30" class="form-control" name="fname" placeholder="first name ">#}
{##}
{##}
{#                <label for="Lname"> Last Name:</label>#}
{#                <input type="text" maxlength="30" class="form-control" name="lname" placeholder="first name ">#}
{#            </div>#}
{#            <div class="form-group">#}
{##}
{#                <label for="Gender">Gender:</label>#}
{#                <input type="text" maxlength="1" class="form-control" name="gender" placeholder="Gender">#}
{#            </div>#}
{#            <div class="form-group">#}
{#                <label for="dateofbirth">Date Of Birth:</label>#}
{#                <input type="text" maxlength="10" class="form-control" name="dob" placeholder="Dateofbirth">#}
{#            </div>#}
{#            <div class="form-group">#}
{##}
{#                <p> college </p>#}
{#            </div>#}
{#            <div class="form-group">#}
{##}
{#                <label for="mentorship">Course:</label>#}
{#                <div class="radio">#}
{#                    <label>#}
{#                        <input type="radio" name="mentor" id="mentor1" value="yes">yes#}
{#                    </label>#}
{#                </div>#}
{#                <div class="radio">#}
{#                    <label>#}
{#                        <input type="radio" name="mentor" id="mentor2" value="no">No#}
{#                    </label>#}
{#                </div>#}
{#            </div>#}
{##}
{##}
{#            <div class="form-group">#}
{##}
{#                <label for="description">Description:</label>#}
{##}
{#                <textarea class="form-control" maxlength="1000" rows="3" name="description"#}
{#                          placeholder="Description of faculty"></textarea>#}
{##}
{##}
{#            </div>#}
{#            <div class="form-group">#}
{##}
{##}
{#                <button type="submit" class="btn btn-default" id="submit" type="submit">#}
{#                    Submit#}
{#                </button>#}
{#            </div>#}
             {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">


                <button type="submit" class="btn btn-default" id="submit" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>


