__pycache__
/media
myvenv
db.sqlite3
.DS_Store
StudyMonk/migrations/*
mywebsite/migrations
.idea/dataSources
.idea/vcs.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/inspectionProfiles
.idea/misc.xml
.idea/modules.xml
.idea/StudyMonk.iml
.idea/workspace.xml
StudyMonk/__pycache__/