<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="css/normalize.css">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <img class="image" src="{% static 'images/Study.png' %}">
        </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
<div class="navbar-header">
            <a class="navbar-brand" href="#" style="font-size: 50px;padding-top: 25px">Studymonk</a>
        </div>

      </ul>
         <ul class="nav navbar-nav navbar-right">
              <li><a href="#"style="padding-top: 25px"><span class="glyphicon glyphicon-home"></span>Home</a></li>
            <li><a href="{% url 'about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-user"></span> Aboutus</a></li>
             <li><a href="{% url 'discussion_forum' %}" style="padding-top: 25px"><span class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
      {% if user.is_authenticated %}
          <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" ><img class="image1"  src="{% static 'images/Study.png' %}">Name</a>
         <ul class="dropdown-menu" role="menu">
          <li><a href="{% url 'change_password' %}"> Change Password</a></li>
             {% if user.id in facultyregistration.user_id %}
                    <li><a href="{% url 'faculty_edit' %}">Edit Faculty
                        Profile</a></li>
                {% else %}
                    <li><a href="{% url 'student_edit' %}">Edit
                        Student Profile</a></li>
                {% endif %}
                 <li><a href="{% url 'logout' %}"> Logout</a></li>
         </ul>
         </li>{% else %}
                 <li class="dropdown"><a style="padding-top: 25px" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user "></span> Sign Up</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'student_signup' %}">Student Signup</a></li>
        <li><a href="{% url 'faculty_signup' %}">Teacher Signup</a></li>
      </ul>
      </li>
      <li class="dropdown"><a style="padding-top: 25px" href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in "></span> Login</a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'student_login' %}">Student Login</a></li>
        <li><a href="{% url 'faculty_login' %}">Teacher Login</a></li>
      </ul>
      </li>
            {% endif %}
    </ul>

</div>
</nav>
<form action="{% url 'student_signup' %}" method="post">
{#   <!-- {% csrf_token %}#}
{#    <h1>Sign Up</h1>#}
{##}
{#        <fieldset>#}
{#          <legend>Your basic info</legend>#}
{##}
{#          <label for="first_name">First-Name:</label>#}
{#          {{ form.first_name }}#}
{##}
{#            <label for="last_name">Last-Name:</label>#}
{#          {{ form.last_name }}#}
{##}
{#            <label for="gender">Gender:</label>#}
{#            {{ form.gender }}#}
{#        <select id="job" name="user_gender">#}
{#          <optgroup label="Gender">#}
{#            <option value="male">Male</option>#}
{#            <option value="female">Female</option>#}
{#          </optgroup>#}
{#        </select>#}
{##}
{#          <label for="email">Email:</label>#}
{#          {{ form.email }}#}
{##}
{#            <label for="college_name">College Name</label>#}
{#          {{ form.email }}#}
{##}
{#          <label for="password">Password:</label>#}
{#          {{ form.password1 }}#}
{#            <label for="password">Confirm Password:</label>#}
{#          {{ form.password2 }}#}
{##}
{##}
{#         <!-- <label for="bio">Biography:</label>#}
{#          <textarea id="bio" name="user_bio"></textarea> -->#}
{##}
{##}
{##}
{##}
{#  </fieldset!-->#}
    <h1>Sign Up For Student</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="row" style="padding-top: 30px">

       <button type="submit">Sign Up</button>
        </div>
      </form>


</body>
</html>