<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">

    <title>About Us</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
<script type="text/javascript" src="js/jQuery.js"></script>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<style type="text/css">
    body{

    }
  .name{
    width: 50%;
    float: left;
  }
  img{
    float: left;
      width:200px;
      height:200px;
  }

</style>


</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top"style="width: 100%">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="image" src="{% static 'images/Study.png' %}">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 3vw;padding-top: 25px ">Studymonk</a>
                {% if user.is_authenticated %}
                {% endif %}
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-user"></span>
                Aboutus</a></li>
            <li><a href="{% url 'discussion_forum' %}" style="padding-top: 25px;"><span
                    class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                     src="{% static 'images/Study.png' %}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ><p>Signed in as</p>
                            <p>{{ user.username }}</p></a><hr></li>

                        <li><a href="{% url 'studetnprofile' %}">Profile</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'faculty_edit' %}">Edit Faculty
                                Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'student_edit' %}">Edit
                                Student Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}"> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span> Sign
                    Up</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_signup' %}">Student Signup</a></li>
                        <li><a href="{% url 'faculty_signup' %}">Teacher Signup</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                    Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_login' %}">Student Login</a></li>
                        <li><a href="{% url 'faculty_login' %}">Teacher Login</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
<nav class="navbar navbar-inverse navbar-fixed-top"style="width: 100%">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="image" src="{% static 'images/Study.png' %}">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 3vw;padding-top: 25px ">Studymonk</a>
                {% if user.is_authenticated %}
                {% endif %}
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-user"></span>
                Aboutus</a></li>
            <li><a href="{% url 'discussion_forum' %}" style="padding-top: 25px;"><span
                    class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                     src="{% static 'images/Study.png' %}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ><p>Signed in as</p>
                            <p>{{ user.username }}</p></a><hr></li>

                        <li><a href="{% url 'studetnprofile' %}">Profile</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'faculty_edit' %}">Edit Faculty
                                Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'student_edit' %}">Edit
                                Student Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}"> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span> Sign
                    Up</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_signup' %}">Student Signup</a></li>
                        <li><a href="{% url 'faculty_signup' %}">Teacher Signup</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                    Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_login' %}">Student Login</a></li>
                        <li><a href="{% url 'faculty_login' %}">Teacher Login</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
<nav class="navbar navbar-inverse navbar-fixed-top"style="width: 100%">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="image" src="{% static 'images/Study.png' %}">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 3vw;padding-top: 25px ">Studymonk</a>
                {% if user.is_authenticated %}
                {% endif %}
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-home"></span>
                Home</a></li>
            <li><a href="{% url 'discussion_forum' %}" style="padding-top: 25px;"><span
                    class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                     src="{% static 'images/Study.png' %}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ><p>Signed in as</p>
                            <p>{{ user.username }}</p></a><hr></li>

                        <li><a href="{% url 'studetnprofile' %}">Profile</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'faculty_edit' %}">Edit Faculty
                                Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'student_edit' %}">Edit
                                Student Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}"> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span> Sign
                    Up</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_signup' %}">Student Signup</a></li>
                        <li><a href="{% url 'faculty_signup' %}">Teacher Signup</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                    Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_login' %}">Student Login</a></li>
                        <li><a href="{% url 'faculty_login' %}">Teacher Login</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>

<div class = "container">
  <div class="row" style="color:#FFFFFF; align-content:center;">


  <div class="col-md-12">

     <h1>About Us</h1>
  </div>
  </div>

    <div class ="row" style="color: #FFFFFF; margin-bottom:200px">
      <div class = "col-md-6" id ="per" style="color:#FFFFFF; align-content:center;">

      </div>
      <div class="col-md-6" id="pet">
    </div>
    </div>

    <div class = "row" style=" margin-bottom:150px">
        <div class = "col-md-4" id="per01">

          <div id ="per1">

            <img src="{% static 'images/sakshi.jpg' %}" class="img-circle">

          </div>
        </div>

        <div class = "col-md-4" id ="per02">
          <div id ="per2">
            <img src="{% static 'images/shobhit.jpg' %}" class="img-circle">
        </div>
        </div>
        <div class = "col-md-4" id ="per03">
          <div id ="per3">
            <img src="{% static 'images/bhuvnesh.png' %}" class="img-circle">
          </div>
        </div>
    </div>
 <div class = "row">
        <div class = "col-md-4" id="per04">

          <div id ="per4">


            <img src="{% static 'images/phani.jpg' %}" class="img-circle">





          </div>
        </div>

        <div class = "col-md-4" id ="per05">
          <div id ="per5">
            <img src="{% static 'images/Study1.png' %}" class="img-circle">
        </div>
        </div>
        <div class = "col-md-4" id ="per06">
          <div id ="per6">
            <img src="{% static 'images/Study1.png' %}" class="img-circle">
          </div>
        </div>
    </div>


    </div>
    </body>
<script type="text/javascript">

var nums = [1,2,3,4,5,6];

// Let's loop over the numbers in our array
for (var i = 0; i < nums.length; i++) {

    // This is the number we're on...


var element = "#per"+nums[i] ;


var elem = $(element);

elem.click(function() {

    var id = $(this).attr("id");
    console.log(id);
    fun(id);
    //increase_clicks(id);


  //the element has been clicked... do stuff here
});




    //document.body.appendChild(elem);
}

function fun(numcopy)
{
    if($("#per").children().length>0)
    {
        var u = $("#per").children().one();
        var id_child = $(u).attr("id");
        var number_child = id_child.charAt(3);
        var e = "#per0"+number_child;
        var t = "#"+number_child;
        $(t).remove();
        $(e).append(u);
    }

    $("#per").append($("#"+numcopy));
    //var id_child = $(("#"+numcopy)).attr("id");

    //var id_child = $(u).attr("id");
    //var number_child = id_child.charAt(3);
    var i = numcopy.charAt(3)-1;

     var data = "<div id ="+ "'"+numcopy.charAt(3)+"'"+"><h2>"+ "User["+i+"].Name"+"</h2><h3>"+ "User["+i+"].description "+"</h3><a href='User["+i+"].linkedin'><img src={% static 'images/linkedin.jpeg' %} alt='Avatar' style='height:40px ;width:50px; margin-right: 30px;margin-left: 30px'></a><a href='User["+i+"].github'><img src='{% static 'images/github.png' %}' alt='Avatar' style='height:40px ;width:50px; margin-right: 30px'></a><a href='User["+i+"].fb'><img src='{% static 'images/fb.png' %}' alt='Avatar' style='height:40px ;width:50px'></a></div>"

    $("#pet").append(data);




}

</script>




</body>
</html>