<html>
{% load staticfiles %}
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="js/jQuery.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>

    <style>


        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
             width: 80%;
            height: auto;
             margin-top: 100px;
            margin-left: 10%;
            margin-right:10%;
            border: 1px solid;
            border-color:#708090;
            padding:25px;
        }

        .cmnt{

            font-size:20px;
             margin-bottom:20px;

        }
        .cmnt_username{

            text-align:right;
          font-size:14px;
        padding-right:10px;
         display: inline;
          width:100%;
            color:#a9a9a9;
        }

        .cmnt_time{
            color:#d3d3d3;
            display:inline;

         font-size:14px;

        }


    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="image" src="{% static 'images/Study.png' %}">
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'mywebsite:home' %}" style="font-size: 3vw;padding-top: 20px ">Studymonk</a>
                    {% if user.is_authenticated %}
                    {% endif %}
                </div>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'mywebsite:about_us' %}" style="padding-top: 25px"><span
                        class="glyphicon glyphicon-user"></span>
                    Aboutus</a></li>
                <li><a href="{% url 'mywebsite:question-list' %}" style="padding-top: 25px;"><span
                        class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <li><a href="{% url 'mywebsite:personal_upload' pk6=user.id %} "
                               style="padding-top: 25px;"><span
                                class="glyphicon glyphicons-user-vr-add"></span>Upload</a></li>
                    {% endif %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                         src="{% static 'images/Study.png' %}">
                    </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><p>Signed in as</p>
                                <p>{{ user.username }}</p></a></li>
                            <li><a href="{% url 'mywebsite:profile' %}">Profile</a></li>
                            <li><a href="{% url 'mywebsite:logout' %}"> Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span>
                        Sign
                        Up</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'mywebsite:student_signup' %}">Student Signup</a></li>
                            <li><a href="{% url 'mywebsite:faculty_signup' %}">Teacher Signup</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                            style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                        Login</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'mywebsite:student_login' %}">Student Login</a></li>
                            <li><a href="{% url 'mywebsite:faculty_login' %}">Teacher Login</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="row">
<div class="col-xm-12 col-sm-12 col-md-12">

<div class="card ">
    {% for list in lists %}
    {% if forloop.counter == 1 %}
    <div class=" contaniner">
        <div class="row">
            <div class ="col-md-12">
                <span style="font-size: 50px">Question : {{ list.thread }}</span>
            </div>
        </div>

    </div>
         <div id="view-answer" style="font-size:40px; color:#000000; margin-bottom:15px;">Answers</div>
    {% endif %}

    <div id="view-div" data-actions-icnt="#">


        {% if list.user.is_staff %}
          <div class="cmnt" style="font-size:30px; font-family: Courier; color:#13a73d;">{{ list.content }}
          <br>

              <a href="{% url 'mywebsite:commentprofile' pk10=list.user_id %}">
                  <div class = "cmnt_username" style="font-size:25px; color:#2f4f4f;padding-top:5px; margin-top:0px; ">{{ list.user }}</div></a>
          <div class = "cmnt_time" style="font-size:25px; color:#a9a9a9;">{{ list.timestamp }}</div> 
          </div>
        {% else %}
            <div class="cmnt" style="font-size:30px; font-family: Courier; color:#6495ed;">{{ list.content }}
          <br>

              <a href="{% url 'mywebsite:commentprofile' pk10=list.user_id %}">
                  <div class = "cmnt_username" style="font-size:25px; color:#2f4f4f;padding-top:5px; margin-top:0px; ">{{ list.user }}</div></a>
          <div class = "cmnt_time" style="font-size:25px; color:#a9a9a9;">{{ list.timestamp }}</div> 
          </div>
        {% endif %}

        {% endfor %}



    </div>
</div>
</div>
</div>
</body>
</html>