<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .card {

            width: 60%;
            padding: 20px;
            border: 2px solid;
            border-color: #DBDBD6;
            height:auto ;
            padding-bottom: 100px;
            margin-left:auto;
            margin-right:auto;



        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-md-12">

{% for lists in list %}
    {% if lists.is_staff %}
        {% for faculties in fac %}
            {% if lists.id == faculties.user_id %}
                  <div class="card">
                <p style = "text-align:center;font-size:50px;color:#6495ed;">This is faculty profile</p>
                <div style="font-size:18px;" >
                <h1 style = "text-align:center;">Username : {{ lists.username }}</h1>
                <h1 style = "text-align:center;">FirstName : {{ lists.first_name }}</h1>
                <h1 style = "text-align:center;">LastName : {{ lists.last_name }}</h1>
                <h1 style = "text-align:center;">Email : {{ lists.email }}</h1>
                <h1 style = "text-align:center;">Mentorship : {{ faculties.mentorship }}</h1>
                <h1 style = "text-align:center;">Description : {{ faculties.description }}</h1>
                <h1 style = "text-align:center;">College : {{ faculties.college_name }}</h1>
                <h1 style = "text-align:center;">Course : {{ faculties.course_name }}</h1>
                <h1 style = "text-align:center;">Gender : {{ faculties.gender }}</h1>
                </div>
                  </div>
            {% endif %}
        {% endfor %}

    {% else %}
        {% for students in stu %}
            {% if lists.id == students.user_id %}
                  <div class="card">
                <p style = "text-align:center;font-size:50px;color:#6495ed;">This is student profile</p>
                <div style="font-size:18px;" >
                <h1 style = "text-align:center;">Username : {{ lists.username }}</h1>
                <h1 style = "text-align:center;">FirstName : {{ lists.first_name }}</h1>
                <h1 style = "text-align:center;">LastName : {{ lists.last_name }}</h1>
                <h1 style = "text-align:center;">Email : {{ lists.email }}</h1>
                <h1 style = "text-align:center;">College : {{ students.college_name }}</h1>
                <h1 style = "text-align:center;">Gender : {{ students.gender }}</h1>
            </div>
                  </div>
            {% endif %}

        {% endfor %}
    {% endif %}
{% endfor %}
        </div>
    </div>

</body>
</html>