<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/collegelist.css' %}" type="text/css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" style="width: 100%">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="image" src="{% static 'images/Study.png' %}">
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'mywebsite:home' %}" style="font-size: 3vw;padding-top: 20px ">Studymonk</a>
                {% if user.is_authenticated %}
                {% endif %}
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'mywebsite:home' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-home"></span>
                Home</a></li>
            <li><a href="{% url 'mywebsite:about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-user"></span>
                Aboutus</a></li>
            <li><a href="{% url 'mywebsite:discussion_forum' %}" style="padding-top: 25px;"><span
                    class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
            {% if user.is_authenticated %}
                {% if user.is_staff %}
                    <li><a href="{% url 'mywebsite:personal_upload' pk6=user.id %} " style="padding-top: 25px;"><span
                            class="glyphicon glyphicons-user-vr-add"></span>Upload</a></li>
                {% endif %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                     src="{% static 'images/Study.png' %}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><p>Signed in as</p>
                            <p>{{ user.username }}</p></a>
                        </li>

                        <li><a href="{% url 'mywebsite:profile' %}">Profile</a></li>

                        <li><a href="{% url 'mywebsite:logout' %}"> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span> Sign
                    Up</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'mywebsite:student_signup' %}">Student Signup</a></li>
                        <li><a href="{% url 'mywebsite:faculty_signup' %}">Teacher Signup</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                    Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'mywebsite:student_login' %}">Student Login</a></li>
                        <li><a href="{% url 'mywebsite:faculty_login' %}">Teacher Login</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>
<div class="card" style="margin-top: 60px;width:80%;height: 100%;margin-left: 130px;background-color:white">
    <div class="container">
    {% for faculties in faculty_name %}
        {% if forloop.counter|divisibleby:"5" or forloop.counter == 1 %}
            <div class="row">
     {% endif %}
        {% if faculties.user.is_staff %}
        {% for faculty_course_names in faculty_course_name %}
        {% if faculties.course_name_id == faculty_course_names.course_name_id and forloop.counter == 1 %}

            <div class="col-sm-6 col-md-4 col-lg-3 col-mt-4"
                 style="margin-left: 40px;margin-top: 20px;margin-bottom: 40px">
                   <a href="{% url 'mywebsite:faculty_upload' pk5=faculties.id %}">

                      <div class="card" style="height:300px;">
                        <div class="h" style="background-color:#607eff; height:50%;margin-bottom: 0% ">
                        </div>

                        <div class="title1" style="height: 50%;">
                        <a href="{% url 'mywebsite:faculty_upload' pk5=faculties.id %}">
                                {% if faculties.user.is_staff %}
                                     {% for faculty_course_names in faculty_course_name %}
                                        {% if faculties.course_name_id == faculty_course_names.course_name_id and forloop.counter == 1 %}
                                            <h3>{{ faculties.user.username }}</h3>
                                            <h3>{{ faculties.user.first_name }} {{ faculties.user.last_name }}</h3>
                                        {% endif %}
                                    {% endfor %}

                                {% endif %}
                        </a>
                        </div>

                    </div>
                       </a>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        {% if forloop.counter|divisibleby:"4" or forloop.last == true %}
            </div>
      {% endif %}
    {% endfor %}

</div>
</body>

</html>