<!DOCTYPE>
{% load staticfiles %}
<html>
<head>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{#    <link rel="stylesheet" href="{% static 'css/personal_upload.css' %}" type="text/css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">

    window.onload = function(){
        var nums =[];
        var nums2= [];
        {% for  topic in topic_name%}
         var j = {{ topic.id }};
         var id = "'"+j+"'" ;
         var k1 ={{ topic.user_id }};
         var name = "'"+k1+"'";
            nums2.push({"id":id , "name":name,"type":"f" });
            nums.push(j);
        {% endfor %}
        console.log(nums2);
        console.log(nums);
      // document
        for (var i = 0; i < nums.length; i++) {

        var element = "#d"+nums[i] ;
        var elem = $(element);
        elem.click(function() {
        var id = $(this).attr("id");
        console.log(id);
        docs(id);
        });
    }
    //video on every id
for (var i = 0; i < nums.length; i++) {

    // This is the number we're on...


        var element = "#v"+nums[i] ;
        var elem = $(element);

        elem.click(function() {

        var id = $(this).attr("id");
        console.log(id);
        v(id);

        });
    }

//comments on every topic
for (var i = 0; i < nums.length; i++) {

    // This is the number we're on...


        var element = "#c"+nums[i] ;
        var elem = $(element);

        elem.click(function() {

        var id = $(this).attr("id");
        console.log(id);
        cmnt(id);

        });
    }





}

function docs(numcopy)

{
     $('.Test').remove();
// when actual data plz add one more div in next line
    //var data  = "<div class = 'Test'>";
    var topic_id=numcopy.slice(1);


//test
    // add a for loop for all the documents

var data2 ;
     data2 ="  <div class = 'Test'> " ;
    {% for docs in topic_docs %}
        var k = {{ docs.topic_id }};
        if(k==topic_id)
        {   data2= data2 +"<div class= 'dname'>";
            data2 = data2 +'{{docs.document_name}}';
            data2 = data2 +"</div>";
            data2 = data2 + "<div class='ddown'>";
            data2 = data2 +"<a href='{{ docs.document_file.url }}' download='{{docs.document_name}}'><i class='fa fa-arrow-circle-down' aria-hidden='true'></i></a>"+"<br>";
            data2 = data2 +"</div><div class='dview' >";
            data2 = data2 +"<p><a href='{{ docs.document_file.url }}' target='_blank' title ='open document'>View document</a></p></div>";
        }
    {% endfor %}
   data2 = data2 +  "</div>";
    console.log(data2);
    // append in e
    var e = "#s"+topic_id;
    $(e).append(data2);
// test ends
}
//function for appending videos

//function for appending docs
function v(numcopy)
{
    $('.Test').remove();
    // add one more div in actual data case
    var data  = " <div class = 'Test video1'>";
    var topicid=numcopy.slice(1);
    console.log(topicid);
    {% for video in topic_videos %}
        var k = {{ video.topic_id }};
        if(k==topicid)
        {data= data +"<div class= 'dname'>";
            data = data +
                "<div id=\"light\">\n" +
                "  <a class=\"boxclose\" id=\"boxclose\" onclick=\"lightbox_close();\"></a>\n" +
                "  <video id=\"VisaChipCardVideo\" width=\"600\" controls>\n" +
                "      <source src='{{ video.video_file.url }}' type='video/mp4\'>\n" +
                "      <!--Browser does not support <video> tag -->\n" +
                "    </video>\n" +
                "</div>\n" +
                "\n" +
                "<div id=\"fade\" onClick=\"lightbox_close();\"></div>\n" +
                "\n" +
                "<div>\n" +
                "</div>\n" +
                "\n" +
                '{{video.video_name}}';
             data = data +"</div>";
            data = data + "<div class='ddown'>";
            data = data +"<a href='{{ video.video_file.url }}' ></a>"+"<br>"+"<br>"+"<br>";
            data= data +"</div>";
        }
    {% endfor %}
    // find all videos  and append them
    //for(i=0;i<video.length;i++)
    //{
      // video[i].topic_id = topicid;
      // append all videos with download and view option

    //}


//test
    data = data + "</div>";
    var pet = "#s" + topicid;
    // append in s+topic.id
    $(pet).append(data);
// test ends

}
//function for appending comments

function cmnt(numcopy)

{


    $('.Test').remove();
    var data  = "<div class = 'Test'>";
    var topicid=numcopy.slice(1);
    console.log(topicid);


{% for comment in topic_comment %}
        var k = {{ comment.topic_id}};
        if(k==topicid)
        {

            data = data +"<div class='cmnt'>"+'{{ comment.content }}'+"<br>";
    {% for users in user_u %}
        {% if users.id == comment.user_id %}
            data = data +"<div class = 'cmnt_username'>"+"{{ users.username }}"+"</div>";
        {% endif %}
        {% endfor %}
            data = data +"<div class = 'cmnt_time'>"+"{{ comment.time_stamp }}"+"</div></div>";

        }
    {% endfor %}

{% for topic in topic_name%}
        var j = {{topic.id}}
    // comment box ...change submit button id  = "ct" + topic id
        if (j==topicid)
        {
     data = data +"<div class = 'cmnt_form'>"+ "<form action='{% url 'mywebsite:add_comment' pk9=topic.id %}'method ='post'>{% csrf_token %}<div class='form-group'><button type='submit' class='btn btn-default' id='ct1' type='submit'>Comment</button> </div></form></div>"
            console.log(data);
        }
    //append actual data in
            {% endfor %}


    data = data + "</div>";
    var pet = "#s" + topicid;
     $(pet).append(data);

}


</script>
    <style>

        .card {

            width: 80%;
            padding: 20px;
            border: 1px solid;
            border-color: #DBDBD6;
            height:auto ;
            padding-bottom: 100px;


        }


        .image {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .btn-group {
            padding-top: 20px;
            padding-right: 30px;
        }

        hr {
            color: black;
            border-bottom: 2px solid;
        }

        .container-fluid {
            margin-top: 200px;

        }
        .desc{
            text-align: center;
            color: #A0A0A0;
        }
        .timest{
            text-align: center;
            color: black;
            margin-top: 10px;
            margin-bottom:10px;
        }
.Test {
    margin-top: 20px;
    display: inline-block;
}
.dview{
     font-size:26px;
       display: inline;
        width:100%;
}


.dname{
    font-size:26px;
 padding-right:10px;
    display: inline;
    width:100%;
}
        .ddown{
            font-size:20px;
            display: inline;
            width:100%;

        }
        .cmnt{

            font-size:20px;
             margin-bottom:20px;

        }
        .cmnt_username{

            text-align:right;
          font-size:14px;
    padding-right:10px;
    display: inline;
    width:100%;
            color:#a9a9a9;
        }

        .cmnt_time{
            color:#d3d3d3;
            display:inline;

         font-size:14px;

        }
        .cmnt_form{
            margin-top:30px;
        }
        .add_button{
            padding: 10px;
            border: 1.5px solid;
            border-color: #778899;
            height:auto ;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="image" src="{% static 'images/Study.png' %}">
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'mywebsite:home' %}" style="font-size: 3vw;padding-top: 20px ">Studymonk</a>
                {% if user.is_authenticated %}
                {% endif %}
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'mywebsite:about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-user"></span>
                Aboutus</a></li>
            <li><a href="{% url 'mywebsite:question-list' %}" style="padding-top: 25px;"><span
                    class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                     src="{% static 'images/Study.png' %}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ><p>Signed in as</p>
                            <p>{{ user.username }}</p></a><hr></li>

                        <li><a href="{% url 'mywebsite:profile' %}">Profile</a></li>
                        <li><a href="{% url 'mywebsite:logout' %}"> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span> Sign
                    Up</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'mywebsite:student_signup' %}">Student Signup</a></li>
                        <li><a href="{% url 'mywebsite:faculty_signup' %}">Teacher Signup</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                    Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'mywebsite:student_login' %}">Student Login</a></li>
                        <li><a href="{% url 'mywebsite:faculty_login' %}">Teacher Login</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>


<div class="container-fluid">
   <!-- for all topics make a new row  -->
    <div class="row">
        <div class="col-md-12" >
        <h1 style="text-align: center;">Welcome {{ user.first_name }},</h1>



            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal" style="margin-left:40%; margin-bottom:5%;background-color:#607eff;border-color:#000000;"> Create Topic
               </button>



            <div id="MyModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <form action="{% url 'mywebsite:topic_upload' %}" method="post" style=" margin-top: 10%; ,margin-bottom:5%;">
                            {% csrf_token %}
                            <h1 style="text-align:center;font-size:28px;color:#1e90ff;">Hello {{ user.first_name }}</h1>
                            <h1 style="text-align:center;font-size:28px;color:#1e90ff;">Enter Details of the Topic </h1>
                            <div style="padding-left:20%;padding-right:20%;">
                            {{ form.as_p }}
                           </div>


                            <button type="submit" style=" margin-left:40%;padding-left: 10px;padding-right: 10px;background-color: #607eff; ">Create Topic</button>

                        </form>

                    </div>

                </div>
            </div>



        </div>
    </div>

            {% for topic in topic_name%}
                 <div class="row" style="margin-bottom: 50px; text-align:center; margin-left:15%;margin-right:10%;">
        <div class="col-md-12">
             <div class="card" id="{{ topic.id }}" >
                <div class="desc">
                    <h1>Title : {{ topic.title }}</h1>
                    <h1>Description : {{ topic.description }}</h1>


                    <a href="{% url 'mywebsite:add_doc' pk7=topic.id %}" class = "add_button" style="display: inline-block; margin-right:20px;">ADD DOC</a>
{#                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#MyModal">ADD DOC#}
{#                        </button>#}
{#                        <div id="MyModal" class="modal fade" role="dialog">#}
{#                            <div class="modal-dialog">#}
{#                                <div class="modal-content">#}
{#                                    <form enctype="multipart/form-data" action="{% url 'mywebsite:add_doc' pk7=topic.id %}" method="post" style=" margin-top: 150px">#}
{#                                        {% csrf_token %}#}
{#                                        <h1>Hello {{ user.first_name }}</h1>#}
{#                                        <h1>Add Document </h1>#}
{#                                        {{ form_doc.as_p }}#}
{#                                        <div class="row" style="padding-top: 30px">#}
{#                                            <button type="submit">Add Document</button>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}

                    <a href="{% url 'mywebsite:add_video' pk8=topic.id %}"  class = "add_button" style="display: inline-block;">ADD VIDEO</a>
{#                    <a href="{% url 'mywebsite:add_comment' pk9=topic.id %}"  style="display: inline-block;">ADD Comment</a>#}
                </div>


                <div class="timest" >
                 29 May 2017
                </div>
                <div>
                <p  id = "d{{ topic.id }}" style="float: left; font-size: 9pt; text-align: center; width: 10%; margin-right: 25%; margin-bottom: 0.5em;"><img src="{% static 'images/doc.png' %}" style="width: 100%; height:10%; ">Documents</p>

                <p id = "v{{ topic.id }}" style="float: left; font-size: 9pt; text-align: center; width: 10%; margin-right: 28%; margin-bottom: 0.5em;"><img src="{% static 'images/video.png' %}"  style="width: 100%; height:10%;">Videos</p>
                <p id = "c{{ topic.id }}" style="float: left; font-size: 9pt; text-align: center; width: 10%; margin-right: 2%; margin-bottom: 0.5em;"><img src="{% static 'images/comment.jpg' %}"  style="width: 100%; height:10%;">Comments</p>
                </div>
                <div  id="s{{ topic.id }}" >

<br style="clear: both;">

                <!-- for appending the data through js -->
                </div>

             </div>
                </div>
                 </div>

            {% endfor %}



</div>

   <!-- for loop ends  -->
</body>
</html>