<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
        .user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top"style="width: 100%">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="image" src="{% static 'images/Study.png' %}">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}" style="font-size: 3vw;padding-top: 25px ">Studymonk</a>
                {% if user.is_authenticated %}
                {% endif %}
            </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'about_us' %}" style="padding-top: 25px"><span class="glyphicon glyphicon-user"></span>
                Aboutus</a></li>
            <li><a href="{% url 'qa_index' %}" style="padding-top: 25px;"><span
                    class="glyphicon glyphicons-user-vr-add"></span>Discussion Forum</a></li>
            {% if user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="image1"
                                                                                                     src="{% static 'images/Study.png' %}">
                </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ><p>Signed in as</p>
                            <p>{{ user.username }}</p></a><hr></li>

                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'faculty_edit' %}">Edit Faculty
                                Profile</a></li>
                        {% else %}
                            <li><a href="{% url 'student_edit' %}">Edit
                                Student Profile</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}"> Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-user "></span> Sign
                    Up</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_signup' %}">Student Signup</a></li>
                        <li><a href="{% url 'faculty_signup' %}">Teacher Signup</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                        style="padding-top: 25px"><span class="glyphicon glyphicon-log-in "></span>
                    Login</a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'student_login' %}">Student Login</a></li>
                        <li><a href="{% url 'faculty_login' %}">Teacher Login</a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>

</nav>


<div class="container" style="margin-top: 100px;">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Profile</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img style="padding:16px;width:150px;height: 150px"  src="https://www.w3schools.com/w3css/img_fjords.jpg" > </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>First-Name</td>
                        <td>{{person.user.first_name }}</td>
                      </tr>
                      <tr>
                        <td>Last-Name</td>
                        <td>{{ person.user.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Username</td>
                        <td>{{ person.user.username }}</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>College</td>
                        <td>{{ person.college_name }}</td>
                      </tr>

                       <tr>
                             <tr>
                        <td>Gender</td>
                        <td>{{ person.gender }}</td>
                      </tr>

                        {% if user.is_staff %}
                       <tr>
                        <td>Description</td>
                        <td>{{ person.description }}</td>
                      </tr>
                        {% endif %}

                      <tr>
                        <td>Email</td>
                        <td>{{ person.user.email }}</td>
                      </tr>


                      </tr>

                    </tbody>
                  </table>

                  <!--<a href="#" class="btn btn-primary">Upload Topic</a> -->
                  <a href="{% url 'change_password' %}" class="btn btn-primary">change Password</a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

</body>
</html>