<!DOCTYPE html>
{#{% block subjects_active %}active{% endblock %}#}
{% load staticfiles %}
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="{% static 'css/home.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/questionlist.css' %}" rel="stylesheet" type="text/css">
    <style>
        .selectpicker {
            width: 200px;
            height: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    Select subject
                    <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    {% for sub in subs %}
                        <li role="presentation"><a role="menuitem" tabindex="-1"
                                                   href="{% url 'mywebsite:questions' pk=sub.pk %}">{{ sub.subject_name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>