        .desc{

            background-color: black;

        }
        .top{
            position: absolute;

        }
        h3{
            text-align: center;
        }
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


            align-content: center;

            border: 1px solid;
            border-color: #DBDBD6;
            max-height: 100%;
            margin-left:5%;
            margin-top:10%;
            height: 50%;

        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

        }


        .btn-group {
            padding-top: 20px;
            padding-right: 30px;
        }

        hr {
            color: black;
            border-bottom: 2px solid;
        }

        .container-fluid {
            padding-left: 100px;
        }
        .teacher{
            text-align: left;
        }
        .student{
            text-align: right;
        }
        img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.h{
  color:#000000;
}