

.todo{

 color: pink;
 padding-top: 0px;

}
.todo1{
    margin-top: 200px;
    font-size: 5vw;
    text-align: center;
    color: white;
}
.box {
    background-color: red;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 200px;
    position: absolute;
    text-align: center;
}
.row2{
    display: inline-block;
    width: 200px;
    margin-left: 250px;
    padding: 5px;
    height: 40px;
    color: white;
    text-align: center;
}
.todo2{
    font-size: 35px;
}

    .image {
        margin-bottom: 8px;
        margin-top: 13px;
        margin-left: 10px;
            width: 45px;
            height: 45px;
            border-radius: 100%;
        }

.btn-group{
    padding-top: 20px;
    padding-right: 10px;
}



    .image1 {
            margin-right: 10px;
            width: 45px;
            height: 45px;
            border-radius: 100%;

        }
