.container-fluid{
position: absolute;
  top: 50%; left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.todo{

 color: pink;
 padding-top: 0px;

}
.todo1{
    padding-top: 90px;
    font-size: 70px;
    text-align: center;
    color: white;
}
.box {
    display: inline-block;
    width: 200px;
    margin-left: 200px;
    margin-top: 10px;
    padding: 10px;
    height: 70px;
    background-color: red;
    text-align: center;
}
.box1 {
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    background-color: blue;
    text-align: center;
}
.row2{
    display: inline-block;
    width: 200px;
    margin-left: 200px;
    padding: 5px;
    height: 40px;
    color: white;
    text-align: center;
}
.todo2{
    font-size: 35px;
}

    .image {
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }

.btn-group{
    padding-top: 20px;
    padding-right: 10px;
}
 hr {
            color: black;
            border-bottom: 2px solid;
        }

