.card {

    width: 80%;
    padding: 20px;
    border: 1px solid;
    border-color: #DBDBD6;
    height: auto;
    padding-bottom: 100px;

}

.image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.btn-group {
    padding-top: 20px;
    padding-right: 30px;
}

hr {
    color: black;
    border-bottom: 2px solid;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    align-items: center;
    height: auto;
}

.desc {
    color: #A0A0A0;
}

.timest {
    text-align: center;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Test {
    display: inline-block;
}

#d1 {
    float: left;
    font-size: 9pt;
    text-align: center;
    width: 10%;
    margin-right: 25%;
    margin-bottom: 0.5em;
}

#v1 {
    float: left;
    font-size: 9pt;
    text-align: center;
    width: 10%;
    margin-right: 28%;
    margin-bottom: 0.5em;
}

#c1 {
    float: left;
    font-size: 9pt;
    text-align: center;
    width: 10%;
    margin-right: 2%;
    margin-bottom: 0.5em;
}